*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    background:url("../images/bg.jpg");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    height:100vh;

}


.overlay{

    width:100%;
    height:100%;

    background:
    linear-gradient(
        rgba(5,8,22,0.55),
        rgba(11,17,32,0.65)
    );

}


/* Navbar */

nav{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:25px 80px;

    backdrop-filter:blur(10px);

}


.logo{

    font-size:32px;
    font-weight:700;
    color:white;

    text-shadow:
    0 0 15px #38BDF8;

}



.menu a{

    color:white;

    text-decoration:none;

    margin-left:35px;

    font-size:18px;

    transition:0.3s;

}


.menu a:hover{

    color:#38BDF8;

    text-shadow:
    0 0 15px #38BDF8;

}



/* Hero Section */


.hero{

    height:80vh;

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction:column;

    text-align:center;

    color:white;

}


.hero h1{

    font-size:70px;

    margin-bottom:20px;

    background:
    linear-gradient(
        90deg,
        #38BDF8,
        #7C3AED
    );

    -webkit-background-clip:text;
    color:transparent;

}


.hero p{

    font-size:24px;

    margin-bottom:40px;

    color:#dbeafe;

}



/* Button */


button{

    padding:18px 45px;

    font-size:20px;

    border:none;

    border-radius:15px;

    background:
    linear-gradient(
        135deg,
        #2563EB,
        #7C3AED
    );

    color:white;

    cursor:pointer;

    box-shadow:
    0 0 25px rgba(56,189,248,0.5);

    transition:0.3s;

}


button:hover{

    transform:translateY(-5px) scale(1.05);

    box-shadow:
    0 0 40px rgba(56,189,248,0.8);

}



/* Mobile */

@media(max-width:768px){

    nav{

        padding:20px;

    }


    .hero h1{

        font-size:42px;

    }


    .hero p{

        font-size:18px;

    }

}