<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<title>CGPA Calculator - StudyMate AI</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

</head>


<body>


<div class="dashboard">


<header>

<div class="logo">
🤖 StudyMate AI
</div>


<div class="profile">
🎓 CGPA Calculator
</div>

</header>



<div class="content">


<section class="ai-card">


<h1>🎓 CGPA Calculator</h1>


<form method="POST">


<input 
type="number"
step="0.1"
name="marks1"
placeholder="Subject 1 Grade Point"
required>


<input 
type="number"
step="0.1"
name="marks2"
placeholder="Subject 2 Grade Point"
required>


<input 
type="number"
step="0.1"
name="marks3"
placeholder="Subject 3 Grade Point"
required>


<input 
type="number"
step="0.1"
name="marks4"
placeholder="Subject 4 Grade Point"
required>


<button type="submit">
Calculate CGPA
</button>


</form>



{% if cgpa %}

<div class="cgpa-result">


<h2>
🎓 Academic Performance
</h2>


<h1>
{{ cgpa }}
</h1>



{% if cgpa >= 9 %}

<p class="excellent">
🌟 Excellent Performance! Keep it up.
</p>


{% elif cgpa >= 7 %}

<p class="good">
✅ Good Performance. Continue improving.
</p>


{% else %}

<p class="improve">
⚠️ Need more focus on academics.
</p>


{% endif %}



</div>

{% endif %}



</section>


</div>


</div>


</body>

</html>