<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyMate AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>

<body>

<div class="overlay">

    <nav>

        <div class="logo">
            🤖 StudyMate AI
        </div>

        <div class="menu">
            <a href="#">Home</a>
            <a href="#">Features</a>
            <a href="#">About</a>
        </div>

    </nav>

    <section class="hero">

        <h1>Learn Smarter with AI</h1>

        <p>
            Attendance • CGPA • Planner • Tasks • Pomodoro
        </p>

        <a href="/dashboard">
            <button>Get Started</button>
        </a>

    </section>

</div>

</body>
</html>